.banner .card {
    height: 430px;
    background-color: darkgrey;
}

.banner .card-img-overlay {
    position: relative;
    top: 180px;
    left: 160px;
}

.info {
    margin: 50px 140px;
    padding: 0 30px;
    display: flex;
    gap: 50px;
    height: 690px;
}

    .info img {
        width: 40%;
        height: 75%;


        border: 1px dashed black;
    }

    article{
        width: 60%;
        margin-top: 100px;
        
        border: 1px dashed black;
    }

    .info-2{
        margin-top:100px;
    }