@{
    ViewData["Title"] = "Team Page";
}
<head>
    <link href="~/css/shop.css" rel="stylesheet" />
</head>

<main>
    <div class="banner">
        <div class="card bg-dark text-white">
            <img src="..." class="card-img" alt="...">
            <div class="card-img-overlay">
                <p class="card-text" style="font-size: 60px; line-height: .9;">lançamento! <br />
                    envios grátis <br />
                    para Portugal
                </p>
                <p class="card-text" style="font-size: 15px;">De 1 a 29 de Fevereiro comemoramos o lançamento da <br />
                    nossa loja online com envios grátis em <strong>compras superiores</strong> <<br />
                    <strong>a 95&euro;</strong>, comenvio a Portugal Continental e Ilhas
                </p>
                <button>ver condições</button>
            </div>
        </div>
    </div>

</main>