@{
    ViewData["Title"] = "Team Page";
}
<head>
    <link href="~/css/team.css" rel="stylesheet" />
</head>

<main>
    <div class="banner">
        <div class="card bg-dark text-white">
            <img src="..." class="card-img" alt="...">
            <div class="card-img-overlay">
                <p class="card-text" style="font-size: 10px;">sobre nós > equipa</p>
                <p class="card-text" style="font-size: 55px; font-family: Kalnia;">equipa</p>
                <p class="card-text" style="font-size: 12px; margin-top: 35px;">Por trás de bons vinhos, há sempre uma boa equipa, <br />que alia história e modernidade, de mãos dadas.</p>
            </div>
        </div>
    </div>
    <p style="margin:50px 170px; font-size: 25px; font-family: Kalnia">
        A experiencia, as referencias internacionais,<br />
       a irreverência e a criatividade são características <br />
       que estão reunidas numa equipa que se <br />
       complementa e que desta forma se diferencia.
   </p>
   <div class="info">
       <img src="#" alt="Alternate Text" />
        <article style="text-align: start;">
           <p style="font-size: 40px;font-family: Kalnia">João Vicêncio</p>
            <p>
                Nascido em Novembro de 1970, começa a interessar-se pelo setor durante a sua formação
                académica na Escola Superior Agrária de Beja e na Pós-Graduaçao em Viticultura pela
                Universidade de Evora, embora a paixão pelo que faz aconteceu durante o estágio curricular
                no final do curso onde teve o seu primeiro contato com a vinha e o vinho.
                Em Outubro de 1995 junta-se à equipa de enologia das Adegas Camillo Alves/Caves Velhas,
                sendo atualmente responsável pela viticultura e vinificação onde tem de lidar com os desafios
                inerentes à função.
            </p>
            <p>
                Quando questionado sobre que vinhos que lhe deram mais prazer produzir, responde que "Um
                vinho é feito com corpo e alma, com muita dedicação e empenho e à semelhança do que
                acontece com os pais, não há um filho preferido, apenas os que dão mais trabalho a "educar"
                que outros, e com os vinho é igual: são todos especiais".
            </p>
            <p>A sua casta branca favorita é o Arinto enquanto que nas tintas a preferência vai para Syrah.</p>
            <p>
                A vinificação é o culminar de um ciclo de trabalho agrícola, uma fase em que existem centenas
                de coisas acontecer ao mesmo tempo sendo necessário muito foco e muita calma para
                conseguir pensar e tomar as melhores decisões.
                Das vindimas feitas ao longo de todos estes anos destaca três - 2002 e 2014, pela luta que
                deram devido às chuvas persistentes ao longo da vindima, e a de 2006, por ser a primeira na
                região do Tejo.
            </p>
       </article>
   </div> 
   <div class="info info-2">
       <article style="text-align: end;">
           <p style="font-size: 40px;font-family: Kalnia">Nuno Faria</p>
            <p>
                Nascido em Fevereiro de 1978, a paixão pela "vinha" surge desde cedo ao licenciar-se em
                Engenharia Agronómica, ramo Fitotecnia, no Instituto Superior de Agronomia, da Universidade
                Técnica de Lisboa seguido de uma pós-graduação em Enologia, na Escola Superior de
                Biotecnologia, Universidade Católica do Porto.
            </p>
            <p>
                Junta-se à equipa de enologia do grupo em Fevereiro de 2005 com um percurso repleto de
                desafios e aprendizagem continua, tendo já passado por inúmeras funções desde enologia,
                laboratório, viticultura até ao cargo que hoje tem como responsável de enologia do Grupo
                Enoport Wines. Gosta do que faz e assume que neste momento o vinho é uma paixão madura.
            </p>
            <p>
                Os vinhos que lhe deram mais prazer produzir são os da gama Cabeça de Toiro, Quinta de S.
                João Batista e Quinta do Boição, pois têm de ser representativos do terroir onde estão
                inseridos. São vinhos medalhados em inúmeros concursos internacionais, com excelentes
                pontuações e reviews e que têm vindo a ganhar notoriedade e com eles o seu crescimento
                enquanto enólogo. Tem um gosto especial pela casta Syrah, mas prefere a complexidade
                dos vinhos de lote e gosta de experimentar lotes de castas menos prováveis.
            </p>
            <p>
                O período da vinificação que mais dores de cabeça lhe dá é sem dúvida a estabilização dos
                vinhos após a fermentação maloláctica. A melhor memória que tem das vindimas é de estar no
                campo com a certeza que as excelentes uvas corresponderiam a um grande vinho, pois todos
                os grandes vinhos nascem na vinha e o trabalho doviticultor não pode ser comprometido.
            </p>
       </article>
       <img src="#" alt="Alternate Text" />
   </div>
</main>