@{
    ViewData["Title"] = "Team Page";
}
<head>
    <link href="~/css/team.css" rel="stylesheet" />
</head>

<main>
    <div class="banner">
        <div class="card bg-dark text-white">
            <img src="..." class="card-img" alt="...">
            <div class="card-img-overlay">
                <p class="card-text" style="font-size: 10px;">sobre nós > equipa</p>
                <p class="card-text" style="font-size: 55px;">equipa</p>
                <p class="card-text" style="font-size: 12px; margin-top: 35px;">Por trás de bons vinhos, há sempre uma boa equipa, <br />que alia história e modernidade, de mãos dadas.</p>
            </div>
        </div>
    </div>
    <p style="margin:50px 170px; font-size: 25px;">
        A experiencia, as referencias internacionais,<br />
       a irreverência e a criatividade são características <br />
       que estão reunidas numa equipa que se <br />
       complementa e que desta forma se diferencia.
   </p>
   <div class="info">
       <img src="#" alt="Alternate Text" />
       <article>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
       </article>
   </div> 
   <div class="info info-2">
       <article cl>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
           <p></p>
       </article>
       <img src="#" alt="Alternate Text" />
   </div>
</main>